.footer {
  width: auto;
}

.link {
  color: #fff;
}

.link a {
  text-decoration: none;
  color: rgb(233, 39, 39);
}

.link a:hover {
  text-decoration: none;
  color: rgb(233, 39, 39);
  background-color: transparent;
}
